/* Styles for the main container */
.container {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Set the height of the container to the full viewport height */
  }
  /* Styles for the Map and List containers */
.mapContainer,
.listContainer {
  position: absolute;
  top: 50px; /* Set the top position to leave space for the header (adjust as needed) */
  bottom: 0;
  /* width: 50%; Adjust the width for both the Map and List containers */
}

.mapContainer {
  left: 33%;
  right: 0%;
}

.listContainer {
  right: 67%;
  left: 0%;
}

/* Styles for the Header component */
.headerContainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 64px; /* Set the height of the header (adjust as needed) */
  background-color: #04243e;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
}
  